.navbar {
  background: #ffffff;
  font-family: 'Sora', sans-serif;
}

.nav-item .nav-link {
  color: #37434d !important;
}
.nav-item {
  color: #37434d  !important;
}

.nav-link:hover {
  color: #00c9b7 !important;
}
.nav-item:hover {
  color: #00c9b7 !important;
}
.img-responsive {
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 250px;
}
