.sidebar-body {
  background-color: #fff;
}
.sidebar-link {
  text-decoration: none;
  color: rgba(129, 131, 137, 1);
}
.sidebar-link {
  text-decoration: none;
}
.sidebar-text {
  font-family: "Roboto";
  color: black;
}
.sidebar-navitem {
  padding-top: 30px;
  font-family: "Roboto";
}
.sidebar-navitem :hover {
  color: rgba(129, 131, 137, 0.5);
}
